.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  &__item {
    background: var(--clr-accent);
    overflow: hidden;

    &:focus {
      position: relative;
      z-index: 2;
      
      .portfolio__img {
        transform: scale(1.2);
        opacity: .5;
      }
    }
  }

  &__img {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1),
    opacity 250ms linear;
    width: 100%;

    &:hover {
      transform: scale(1.2);
      opacity: .5;
    }
  }
}